<footer class="py-3" style="color: rgb(255,255,255); background: #041d2d;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <span class="copyright">Copyright © Desa Tegal <%= new Date().getFullYear() %></span>
            </div>
        </div>
    </div>
</footer>
